/* styles.css */

body {
    font-family: Arial, sans-serif;
   /* background-image: url('https://i.pinimg.com/originals/89/ea/72/89ea7278458f045fc10691ce3dd08fab.jpg'); /* URL to your image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed; /* Fixed background position */
}

h1 {
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 400px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #FFD700; /* Dark Yellow */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FFC600; /* Slightly lighter yellow on hover */
}

h2 {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #FFD700; /* Dark Yellow for table header */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

p {
    text-align: center;
}
